body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            background-color: #f5f5f5;
            color: #333;
        }

        h1 {
            text-align: center;
            text-decoration: underline;
            color: #007bff;
            padding: 20px;
        }

        .container {
            max-width: 800px;
            margin: auto;
            background-color: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
            padding: 20px;
        }

        img {
            display: block;
            margin: 0 auto;
            padding: 10px;
            width: 60%;
        }

        p {
            font-size: 18px;
            line-height: 1.6;
            text-align: center;
            margin: 0 auto;
            color: #333;
        }

        .Moral {
            text-align: center;
            margin: auto;
            width: 70%;
            border: 3px solid #d9534f;
            color: #a94442;
            font-size: 20px;
            padding: 10px;
            margin-top: 20px;
        }

        .heading {
            border: 3px solid #5bc0de;
            margin: auto;
            width: 70%;
            text-align: center;
            background-color: #d9edf7;
            padding: 10px;
            margin-top: 20px;
            border-radius: 5px;
        }

        .images {
            border: 0;
        }

        .Ending {
            text-align: left;
            text-decoration: underline;
            width: 30%;
        }

        a {
            color: #333;
            text-decoration: none;
        }

        a:hover {
            color: #555;
        }